body {
    font-family: DejaVu Sans Mono, Helvetica, sans-serif;
    margin: 0px;
    padding: 0;
    background-color: #000;
}
.menuPrincipal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #8237a3;
    height: 5vh;
}
.listaNavegacao{
    display: flex;
    list-style: none;
}
.listaNavegacao li{
    margin-left: 32px;
    

}
.menuPrincipal ul a{
    color: #fff;
    text-decoration: none;
    padding: 5px;
    font-weight: bolder;
}

.menuPrincipal ul a:hover{
    color: #00e300;
    
    background-color: #000;
}
main{
    width: 50%;
    margin: 0 auto;
    color: #f7f7f7;
}
p{
    text-align: justify;
}

a:hover{
    color: #00e300;

}
h1{
    color: #00e300;
}
