<section>
    <div class="dias_e_temas">
        <ul>

            <li> (10/03/2025) - (LCC2 - DIMAP): <a href="primeiroDia" id="primeiroDia" class="active">Primeiros passos
                    no Linux</a></li>
            <li> (11/03/2025) - (LCC2 - DIMAP): <a href="segundoDia" id="segundoDia" class="inactive">Shell Avançado</a>
            </li>
            <li> (12/03/2025) - (LCC2 - DIMAP): <a href="terceiroDia" id="terceiroDia" class="inactive">Introdução ao
                    Git</a></li>
            <li> (13/03/2025) - (LCC2 - DIMAP): <a href="quartoDia" id="quartoDia" class="inactive">Git avançado</a>
            </li>
            <li> (14/03/2025) - (LCC2 - DIMAP): <a href="quintoDia" id="quintoDia" class="inactive">GitHub e boas
                    práticas de Git</a></li>
            <li> (14/03/2025) - (LCC2 - DIMAP): <a href="projetoFinalSimplificado" id="projetoFinalSimplificado"
                    class="active">Projeto Final</a></li>
        </ul>
        <script src="assets/js/script_dia.js"></script>
    </div>
</section>
