<section>
    <div class="dias_e_temas">
        <ul>

            <li> (05/08/2024) - (sala): <a href="primeiroDia" id="primeiroDia" class="inactive">Primeiros passos no Linux</a></li>
            <li> (07/08/2024) - (sala): <a href="segundoDia" id="segundoDia" class="inactive">Shell Avançado</a></li>
            <li> (09/08/2024) - (sala): <a href="terceiroDia" id="terceiroDia" class="inactive">Introdução ao Git</a></li>
            <li> (12/08/2024) - (sala): <a href="quartoDia" id="quartoDia" class="inactive">Git avançado</a></li>
            <li> (14/08/2024) - (sala): <a href="quintoDia" id="quintoDia" class="inactive">GitHub e boas práticas de Git</a></li>
        </ul>
    <script src="assets/js/script_dia.js"></script>
    </div>
</section>
