<section>
    <div class="dias_e_temas">
        <ul>
            <li> (dd/mm/yy) - (sala): <a href="primeiroDia">Primeiros passos no Linux</a></li>
            <li> (dd/mm/yy) - (sala): <a href="segundoDia">Shell Avançado</a></li>
            <li> (dd/mm/yy) - (sala): <a href="terceiroDia">Introdução ao Git</a></li>
            <li> (dd/mm/yy) - (sala): <a href="quartoDia">Git avançado</a></li>
            <li> (dd/mm/yy) - (sala): <a href="quintoDia">GitHub e boas práticas de Git</a></li>
        </ul>
    </div>
</section>
