a{
    text-decoration:none;
}

body {
    font-family: DejaVu Sans Mono, Helvetica, sans-serif;
    margin: 0px;
    padding: 0;
    background-color: #24273a;
}
.menuPrincipal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f38ba8;
    height: 5vh;
}
.listaNavegacao{
    display: flex;
    list-style: none;
}
.listaNavegacao li{
    margin-left: 32px;
}

.menuPrincipal ul a{
    color: #11111b;
    text-decoration: none;
    padding: 5px;
    font-weight: bolder;
}

.menuPrincipal ul a:hover{
    color: #cdd6f4;
}

.oldschoolnav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00e300;
    height: 5vh;
}
.oldschoolnav ul a{
    color: #000;
    text-decoration: none;
    padding: 5px;
    font-weight: bolder;
}

.oldschool main{
    width: 50%;
    margin: 0 auto;
    color: #fff;
}

.oldschool h1{
    color: #00e300;
}

.oldschool p{
    text-align: justify;
}

.oldschool{
    font-family: DejaVu Sans Mono, Helvetica, sans-serif;
    margin: 0px;
    padding: 0;
    background-color: #000;
}

a{
    color:#a6e3a1;
}

a:hover{
    color:#fff;
}

main{
    width: 50%;
    margin: 0 auto;
    color: #cdd6f4;
}
p{
    text-align: justify;
}

h1{
    color: #cdd6f4;
}
